@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Grechen+Fuemen&family=Inter:wght@100&family=Josefin+Sans:wght@100&family=Nanum+Myeongjo&family=Roboto:wght@100&family=Shadows+Into+Light&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
}

.mobile-view {
  width: 375px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  margin-bottom: 3rem;
}

.navigation {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
  background-color: #3c3a39;
}

.links {
  display: flex;
  width: 80%;
  justify-content: space-between;
  font-family: "Nanum Myeongjo", serif;
  font-size: 1rem;
}

.project {
  background-image: url("./workImages/Img\ Placeholder.png");
  padding-top: 3rem;
}

.name {
  color: white;
  animation: drop 3s ease;
  transition: transform 300ms cubic-bezier(0.5, 0, 0.5, 1);
}

.link-item {
  list-style: none;
  transition: transform 50ms cubic-bezier(0.5, 0, 0.5, 1);
}

.link-item:hover {
  transform: scale(1.2);
}

.link {
  text-decoration: none;
  color: #143771;
}

.user-input.first-name {
  display: none;
}

.link:hover {
  color: white;
}

.social-list {
  display: flex;
  width: 50%;
  justify-content: space-between;
  margin-top: 1rem;
  align-items: center;
}

.intro-header {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #ff6b00;
  font-size: 2rem;
}

.intro-subheader {
  font-family: poppins, sans-serif;
  font-style: normal;
  font-size: 1.5rem;
  color: whitesmoke;
}

.introduction {
  background-color: #1c1a19;
  padding: 1rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 2rem;
  background-image: url("./workImages/background/frame-mobile-header.png");
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: 100px;
}

.far-bars {
  color: whitesmoke;
}

.menu-bar {
  color: whitesmoke;
  transition: transform 50ms cubic-bezier(0.5, 0, 0.5, 1);
}

.menu-bar:hover {
  transform: scale(1.2);
  color: grey;
}

.project1 {
  display: none;
}

.social-link {
  list-style: none;
  margin-bottom: 0.8rem;
}

.vec-3 {
  display: none;
}

.fa-whatsapp {
  font-size: 1.5rem;
  color: #128c7e;
}

.fa-whatsapp:hover {
  color: white;
}

.fa-twitter {
  font-size: 1.5rem;
  color: #00acee;
}

.fa-twitter:hover {
  color: white;
}

.fa-linkedin {
  font-size: 1.5rem;
  color: #0e76a8;
}

.fa-linkedin:hover {
  color: white;
}

.fa-github {
  font-size: 1.5rem;
}

.fa-github:hover {
  color: white;
}

.intro-description {
  font-family: poppins, sans-serif;
  font-size: 0.9rem;
  margin-top: 0.5rem;
  color: white;
  width: 80%;
}

.vector-image {
  position: absolute;
  right: 0%;
  top: 5%;
}

.second-vector {
  position: absolute;
  right: 1%;
  top: 5%;
}

.work-header {
  padding: 2rem;
  font-family: "Crete Round", serif;
  font-size: 1.8rem;
  border-bottom: 2px solid grey;
  margin-top: 3rem;
  margin-bottom: 3rem;
  color: #1c1a19;
}

.user-input.first {
  display: none;
}

.user-input.last {
  display: none;
}

.worksub-header {
  color: #091e42;
  font-family: "Crete Round", serif;
}

.my-work {
  font-family: poppins, sans-serif;
  color: #1c1a19;
  margin-top: 1rem;
}

.work-description {
  font-size: 1rem;
  color: white;
  font-family: poppins, sans-serif;
  padding: 1rem;
}

.btns {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin-top: -1rem;
}

.work {
  padding: 1rem;
}

.btn {
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: 1px solid grey;
  font-family: poppins, sans-serif;
  color: #091e42;
  transition: transform 50ms cubic-bezier(0.5, 0, 0.5, 1);
}

.btn:hover {
  transform: scale(1.1);
  background-color: rgba(255 255 255 /24%);
  color: #ff6b00;
  border: 1px solid #ff6b00;
}

.btn:focus {
  background-color: #ff6b00;
  color: white;
}

li {
  list-style: none;
}

.btn.after {
  color: white;
  background-color: rgba(255 255 255 /24%);
}

.btn.after:hover {
  background-color: rgba(255 255 255 /24%);
  color: #ff6b00;
  border: 1px solid #ff6b00;
}

.btn.after:focus {
  background-color: #ff6b00;
  color: white;
}

.submit-btn {
  padding: 0.5rem 1.2rem;
  border: 1px solid #ff6b00;
  background: #ff6b00;
  font-family: poppins, sans-serif;
  color: #091e42;
  color: white;
  transition: transform 50ms cubic-bezier(0.5, 0, 0.5, 1);
}

.submit-btn:hover {
  background-color: rgba(255 255 255 /24%);
  color: #ff6b00;
  border: 1px solid #ff6b00;
}

.btns.one {
  margin: 0;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0;
}

.submit-btn.after.one {
  margin: 0;
}

.submit-btn:focus {
  background-color: #ff6b00;
  color: white;
}

.submit-btn.after {
  width: 100%;
  padding: 0.6rem;
  margin-top: -0.5rem;
}

.first-project {
  background-image: url("./workImages/Img\ Placeholder.png");
  transition: transform 500ms cubic-bezier(0.5, 0, 0.5, 1);
}

.submit-btn.after:hover {
  background-color: rgba(255 255 255 /24%);
  color: #ff6b00;
  border: 1px solid #ff6b00;
}

.submit-btn.after:focus {
  background-color: #ff6b00;
  color: white;
}

.subsequent-worksub-header {
  color: white;
  text-shadow: 0 0 10px gray;
  font-size: 2rem;
  padding: 1rem;
}

.workimg {
  width: 325px;
}

.about-me {
  padding: 1.5rem;
  background-color: #1c1a19;
  background-image: url("./workImages/background/frame-mobile-about.png");
  background-repeat: no-repeat;
  background-position: 100% 22%;
  background-size: 100px;
}

.vec-4 {
  display: none;
}

.vec-6 {
  display: none;
}

.about-header {
  font-family: "Crete Round", sans-serif;
  color: #ff6b00;
  font-size: 2.5rem;
  margin-top: 5rem;
}

.about-description {
  font-family: poppins, sans-serif;
  color: white;
  margin-top: 0.5rem;
}

.get-btn {
  padding: 0.6rem 1rem;
  margin-top: 1rem;
  background-color: #ff6b00;
  color: white;
  border: 1px solid #ff6b00;
  border-radius: 0;
}

.get-btn:hover {
  background-color: rgba(255 255 255 /24%);
  color: #ff6b00;
  border: 1px solid #ff6b00;
}

.get-btn:focus {
  background: #ff6b00;
  color: white;
}

.additional-info {
  padding-top: 5rem;
  border-top: 2px solid lightgray;
  margin-top: 5rem;
}

.language-header {
  font-family: poppins, sans-serif;
  font-size: 1.5rem;
  color: white;
  text-align: center;
}

.languages {
  font-family: poppins, sans-serif;
  color: white;
  text-align: center;
  margin-top: 1.5rem;
}

.language {
  margin-bottom: 1rem;
}

.vector {
  margin-right: 0.5rem;
}

.language-container {
  margin-bottom: 1.5rem;
}

.form-section-div {
  padding: 2rem;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
}

.footer-description {
  text-align: center;
  font-family: Inter, sans-serif;
  color: #172b4f;
  font-size: 1.5rem;
}

.form-section {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.form-btn {
  align-self: center;
  padding: 0.5rem 1rem;
  background: #ff6b00;
  color: white;
  font-family: poppins, sans-serif;
  font-size: 1rem;
  border: 1px solid #ff6b00;
  margin-top: 1.5rem;
  cursor: pointer;
}

.user-input {
  margin-top: 1rem;
  padding: 0.5rem;
  font-family: poppins, sans-serif;
  border: none;
  border-bottom: 1px solid #dbd8d7;
  font-size: 0.9rem;
  outline: none;
}

.text-area {
  margin-top: 2.2rem;
  padding: 0.3rem;
  font-family: poppins, sans-serif;
  font-size: 0.9rem;
  height: 8rem;
  background-color: #fbf8f7;
  border: none;
  outline: none;
}

.footer-social-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  align-self: center;
}

.email-link {
  background-color: #ff6b00;
}

.fa-envelope {
  font-size: 1.3rem;
  color: #1c1a19;
}

.underline {
  width: 50%;
  height: 0.3rem;
  background-color: #0d151e;
  border-radius: 2rem;
  align-self: center;
  margin-bottom: 1rem;
  margin-top: 0.1rem;
}

.footer-section {
  display: flex;
  flex-direction: column;
  border-top: 1.5px solid lightgray;
  padding-top: 1.3rem;
  margin-top: 4rem;
}

.form-btn:hover {
  background-color: rgba(255 255 255 /24%);
  color: #ff6b00;
  border: 1px solid #ff6b00;
}

.fa-whatsapp.footer:hover {
  color: #1c1a19;
}

.fa-linkedin.footer:hover {
  color: #1c1a19;
}

.fa-twitter.footer:hover {
  color: #1c1a19;
}

.fa-github.footer:hover {
  color: #1c1a19;
}

.fa-envelope.footer:hover {
  color: lightslategray;
}

.menu-bars {
  display: none;
}

.social-links.start {
  display: none;
}

.place1 {
  display: none;
}

.logo {
  text-decoration: none;
}

@media (min-width: 768px) {
  .mobile-view {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .name {
    font-family: poppins, sans-serif;
    font-size: 1.2rem;
    margin-left: 1rem;
  }

  .menu-bars {
    display: block;
    display: flex;
    width: 40%;
    font-family: poppins, sans-serif;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.2rem;
  }

  .project {
    background-image: url("./workImages/Img\ Placeholder.png");
    background-color: white;
    object-fit: cover;
    padding-top: 4rem;
  }

  .menu-bar {
    display: none;
  }

  .menu-link {
    color: white;
    text-decoration: none;
  }

  .email-image {
    margin-top: 0.4rem;
  }

  .introduction {
    display: flex;
    align-items: center;
    padding-top: 10rem;
    padding-bottom: 10rem;
    background-image: url("./workImages/background/frame-deskto-header.png");
    background-repeat: no-repeat;
    background-size: 500px;
    background-position: 100% 100%;
  }

  .social-list {
    flex-direction: column;
  }

  .logo {
    text-decoration: none;
  }

  .intro-details {
    width: 50%;
    margin-left: 3rem;
  }

  .social-links.start {
    display: block;
    margin-left: 2rem;
  }

  .social-links {
    display: none;
  }

  .intro-header {
    font-size: 2.5rem;
  }

  .work-container {
    display: flex;
  }

  .workimg {
    width: 45%;
    height: auto;
    margin-right: 1rem;
  }

  .work-description-container {
    width: 30%;
    margin-top: 0;
  }

  .subsequent {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 16px;
    grid-auto-rows: 400px;
    margin: 0;
    padding: 0;
    margin-top: 2rem;
  }

  .work-container-subsequent {
    width: 350px;
    margin: 0;
    padding: 0;
  }

  .submit-btn.after {
    display: none;
  }

  .submit-btn.after.one {
    display: block;
    margin: 0;
  }

  .btns.one {
    display: none;
  }

  .first-description {
    display: none;
  }

  .project1 {
    display: block;
    width: 100%;
    height: 21.9rem;
    object-fit: cover;
  }

  .intro-description {
    font-size: 1rem;
  }

  .about-description {
    width: 40%;
    font-size: 1rem;
    margin-top: 2rem;
  }

  .about-me {
    padding: 7rem;
    margin-top: 1rem;
    background-image: url("./workImages/background/frame-desktop-about.png");
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: 97% 28%;
  }

  .get-btn {
    margin-top: 2rem;
    border-radius: 0;
  }

  .additional-info {
    display: flex;
    width: 80%;
    justify-content: space-between;
  }

  .work-header {
    font-size: 2.5rem;
  }

  .submit-btn.right {
    margin-top: 1rem;
  }

  .form-section-div {
    flex-direction: row;
    padding: 0;
    padding: 5rem 10rem;
  }

  .footer-description {
    width: 42%;
    text-align: start;
    font-size: 1.8rem;
    font-family: poppins, sans-serif;
  }

  .form-section {
    margin-top: 0;
    width: 80%;
    margin-left: 3rem;
  }

  .user-input {
    width: 49%;
    margin-top: 0;
  }

  .text-area {
    margin-top: 0;
    margin-top: 1.5rem;
    width: 80%;
    padding: 1rem;
  }

  .user-input.email {
    width: 80%;
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
  }

  .form-btn {
    align-self: flex-start;
    margin-top: 1rem;
    border-radius: 0;
  }

  .underline {
    display: none;
  }

  .footer-social-links {
    width: 15%;
  }

  .work {
    padding: 3rem;
  }

  .user-input.full {
    width: 80%;
    padding: 0.5rem 1rem;
  }
}

.email-image {
  animation: drop 3s ease;
  transition: transform 300ms cubic-bezier(0.5, 0, 0.5, 1);
}

.menu-link {
  animation: drop 3s ease;
  transition: transform 300ms cubic-bezier(0.5, 0, 0.5, 1);
}

@keyframes drop {
  0% {
    opacity: 0;
    transform: translateX(-80px) rotateZ(360deg);
  }
}

.menu-link:hover {
  transform: scale(1.2);
  color: #ff6b00;
}

.email-image:hover {
  transform: scale(1.2);
}

.name:hover {
  transform: scale(1.2);
}

.project:hover {
  transform: scale(1.1);
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 0 0 10px lightslategray;
}

.first-project:hover {
  transform: scale(1.1);
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 0 0 10px lightslategray;
}
