@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Grechen+Fuemen&family=Inter:wght@100&family=Josefin+Sans:wght@100&family=Nanum+Myeongjo&family=Roboto:wght@100&family=Shadows+Into+Light&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
}

.mobile-view {
  width: 375px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  margin-bottom: 3rem;
}

.navigation {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
  background-color: #3c3a39;
}

.links {
  display: flex;
  width: 80%;
  justify-content: space-between;
  font-family: "Nanum Myeongjo", serif;
  font-size: 1rem;
}

.name {
  color: white;
}

.link-item {
  list-style: none;
  transition: transform 50ms cubic-bezier(0.5, 0, 0.5, 1);
}

.link-item:hover {
  transform: scale(1.2);
}

.link {
  text-decoration: none;
  color: #143771;
}

.user-input.first-name {
  display: none;
}

.link:hover {
  color: white;
}

.social-list {
  display: flex;
  width: 50%;
  justify-content: space-between;
  margin-top: 1rem;
  align-items: center;
}

.intro-header {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #ff6b00;
  font-size: 2rem;
}

.intro-subheader {
  font-family: poppins, sans-serif;
  font-style: normal;
  font-size: 1.5rem;
  color: whitesmoke;
}

.introduction {
  background-color: #1c1a19;
  padding: 1rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 2rem;
}

.far-bars {
  color: whitesmoke;
}

.menu-bar {
  color: whitesmoke;
  transition: transform 50ms cubic-bezier(0.5, 0, 0.5, 1);
}

.menu-bar:hover {
  transform: scale(1.2);
  color: grey;
}

.social-link {
  list-style: none;
  margin-bottom: 0.8rem;
}

.vec-3 {
  display: none;
}

.fa-whatsapp {
  font-size: 1.5rem;
  color: #128c7e;
}

.fa-whatsapp:hover {
  color: white;
}

.fa-twitter {
  font-size: 1.5rem;
  color: #00acee;
}

.fa-twitter:hover {
  color: white;
}

.fa-linkedin {
  font-size: 1.5rem;
  color: #0e76a8;
}

.fa-linkedin:hover {
  color: white;
}

.fa-github {
  font-size: 1.5rem;
}

.fa-github:hover {
  color: white;
}

.intro-description {
  font-family: poppins, sans-serif;
  font-size: 0.9rem;
  margin-top: 0.5rem;
  color: white;
  width: 80%;
}

.vector-image {
  position: absolute;
  right: 0%;
  top: 5%;
}

.second-vector {
  position: absolute;
  right: 1%;
  top: 5%;
}

.work-container-subsequent {
  margin-bottom: 1rem;
  background:
    linear-gradient(
      180.45deg,
      rgba(38 38 38 /0%) 0.75%,
      rgba(38 38 38 /90%)
      61.94%
    );
  padding: 1rem;
  background-image: url("./workImages/place3.png");
  margin-top: 1rem;
}

.work-header {
  padding: 2rem;
  font-family: "Crete Round", serif;
  font-size: 1.8rem;
  border-bottom: 2px solid grey;
  margin-top: 3rem;
  margin-bottom: 3rem;
  color: #1c1a19;
}

.user-input.first {
  display: none;
}

.user-input.last {
  display: none;
}

.work-description-container {
  margin-top: 1rem;
}

.worksub-header {
  color: #091e42;
  font-family: "Crete Round", serif;
}

.my-work {
  font-family: poppins, sans-serif;
  color: #1c1a19;
  margin-top: 1rem;
}

.work-description {
  font-size: 1rem;
  margin-top: 0.5rem;
  color: white;
  font-family: poppins, sans-serif;
}

.btns {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.btn {
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: 1px solid grey;
  font-family: poppins, sans-serif;
  color: #091e42;
  transition: transform 50ms cubic-bezier(0.5, 0, 0.5, 1);
}

.btn:hover {
  transform: scale(1.1);
  background-color: rgba(255 255 255 /24%);
  color: #ff6b00;
  border: 1px solid #ff6b00;
}

.btn:focus {
  background-color: #ff6b00;
  color: white;
}

li {
  list-style: none;
}

.btn.after {
  color: white;
  background-color: rgba(255 255 255 /24%);
}

.btn.after:hover {
  background-color: rgba(255 255 255 /24%);
  color: #ff6b00;
  border: 1px solid #ff6b00;
}

.btn.after:focus {
  background-color: #ff6b00;
  color: white;
}

.submit-btn {
  padding: 0.5rem 1.2rem;
  margin-top: 1rem;
  border: 1px solid #ff6b00;
  background: #ff6b00;
  font-family: poppins, sans-serif;
  color: #091e42;
  color: white;
  transition: transform 50ms cubic-bezier(0.5, 0, 0.5, 1);
}

.submit-btn:hover {
  background-color: rgba(255 255 255 /24%);
  color: #ff6b00;
  border: 1px solid #ff6b00;
}

.submit-btn:focus {
  background-color: #ff6b00;
  color: white;
}

.submit-btn.after {
  width: 100%;
  padding: 0.6rem;
}

.submit-btn.after:hover {
  background-color: rgba(255 255 255 /24%);
  color: #ff6b00;
  border: 1px solid #ff6b00;
}

.submit-btn.after:focus {
  background-color: #ff6b00;
  color: white;
}

.subsequent-worksub-header {
  color: white;
  text-shadow: 0 0 10px gray;
  margin-top: 5rem;
  font-size: 2rem;
}

.work {
  padding: 1.5rem;
  display: grid;
}

.workimg {
  width: 325px;
}

.about-me {
  padding: 1.5rem;
  background-color: #1c1a19;
}

.vec-4 {
  display: none;
}

.vec-6 {
  display: none;
}

.about-header {
  font-family: "Crete Round", sans-serif;
  color: #ff6b00;
  font-size: 2.5rem;
  margin-top: 5rem;
}

.about-description {
  font-family: poppins, sans-serif;
  color: white;
  margin-top: 0.5rem;
}

.get-btn {
  padding: 0.6rem 1rem;
  margin-top: 1rem;
  background-color: #ff6b00;
  color: white;
  border: 1px solid #ff6b00;
}

.get-btn:hover {
  background-color: rgba(255 255 255 /24%);
  color: #ff6b00;
  border: 1px solid #ff6b00;
}

.get-btn:focus {
  background: #ff6b00;
  color: white;
}

.additional-info {
  padding-top: 5rem;
  border-top: 2px solid lightgray;
  margin-top: 5rem;
}

.language-header {
  font-family: poppins, sans-serif;
  font-size: 1.5rem;
  color: white;
  text-align: center;
}

.languages {
  font-family: poppins, sans-serif;
  color: white;
  text-align: center;
  margin-top: 1.5rem;
}

.language {
  margin-bottom: 1rem;
}

.vector {
  margin-right: 0.5rem;
}

.language-container {
  margin-bottom: 1.5rem;
}

.first {
  position: absolute;
  bottom: 26.5%;
  right: 9%;
}

.second {
  position: absolute;
  bottom: 26.5%;
  right: 9%;
}

.main {
  position: absolute;
  bottom: 25.9%;
  right: 1%;
}

.form-section-div {
  padding: 2rem;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
}

.footer-description {
  text-align: center;
  font-family: Inter, sans-serif;
  color: #172b4f;
  font-size: 1.5rem;
}

.form-section {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.form-btn {
  align-self: center;
  padding: 0.5rem 1rem;
  background: #ff6b00;
  color: white;
  font-family: poppins, sans-serif;
  font-size: 1rem;
  border: 1px solid #ff6b00;
  margin-top: 1.5rem;
  border-radius: 0.2rem;
  cursor: pointer;
}

.user-input {
  margin-top: 1rem;
  padding: 0.5rem;
  font-family: poppins, sans-serif;
  border: none;
  border-bottom: 1px solid #dbd8d7;
  font-size: 0.9rem;
  outline: none;
}

.text-area {
  margin-top: 2.2rem;
  padding: 0.3rem;
  font-family: poppins, sans-serif;
  font-size: 0.9rem;
  height: 8rem;
  background-color: #fbf8f7;
  border: none;
  outline: none;
}

.footer-social-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  align-self: center;
}

.email-link {
  background-color: #ff6b00;
}

.fa-envelope {
  font-size: 1.3rem;
  color: #1c1a19;
}

.underline {
  width: 50%;
  height: 0.3rem;
  background-color: #0d151e;
  border-radius: 2rem;
  align-self: center;
  margin-bottom: 1rem;
  margin-top: 0.1rem;
}

.footer-section {
  display: flex;
  flex-direction: column;
  border-top: 1.5px solid lightgray;
  padding-top: 1.3rem;
  margin-top: 4rem;
}

.form-btn:hover {
  background-color: rgba(255 255 255 /24%);
  color: #ff6b00;
  border: 1px solid #ff6b00;
}

.fa-whatsapp.footer:hover {
  color: #1c1a19;
}

.fa-linkedin.footer:hover {
  color: #1c1a19;
}

.fa-twitter.footer:hover {
  color: #1c1a19;
}

.fa-github.footer:hover {
  color: #1c1a19;
}

.fa-envelope.footer:hover {
  color: lightslategray;
}

.menu-bars {
  display: none;
}

.social-links.start {
  display: none;
}

.place1 {
  display: none;
}

@media (min-width: 768px) {
  .mobile-view {
    width: 100%;
  }

  .name {
    font-family: poppins, sans-serif;
    font-size: 1.2rem;
    margin-left: 1rem;
  }

  .menu-bars {
    display: block;
    display: flex;
    width: 40%;
    font-family: poppins, sans-serif;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.2rem;
  }

  .menu-bar {
    display: none;
  }

  .menu-link {
    color: white;
    text-decoration: none;
  }

  .email-image {
    margin-top: 0.4rem;
  }

  .introduction {
    display: flex;
    align-items: center;
  }

  .social-list {
    flex-direction: column;
  }

  .logo {
    text-decoration: none;
  }

  .intro-details {
    width: 50%;
    margin-left: 3rem;
  }

  .vector-image {
    right: 25%;
    top: 5%;
  }

  .vec-3 {
    display: block;
    position: absolute;
    top: 4%;
    right: 1%;
    height: 15rem;
  }

  .second-vector {
    right: 25%;
    top: 5%;
  }

  .social-links.start {
    display: block;
    margin-left: 2rem;
  }

  .social-links {
    display: none;
  }

  .intro-header {
    font-size: 2.5rem;
  }

  .work-container {
    display: flex;
    align-items: center;
  }

  .workimg {
    width: 480px;
  }

  .work-description-container {
    width: 25%;
    margin-top: 0;
    margin-left: 2rem;
  }

  .subsequent {
    display: flex;
    flex-wrap: wrap;
    padding-top: 2rem;
  }

  .work-container-subsequent {
    margin-left: 1rem;
    width: 30%;
  }

  .work-container-subsequent.one {
    margin-left: 0;
    padding: 0;
  }

  .work-container-subsequent.two {
    background-image: url("./workImages/Img\ Placeholder.png");
  }

  .work-container-subsequent.three {
    background-image: url("./workImages/Img\ Placeholder.png");
  }

  .work-container-subsequent.four {
    margin-left: 0;
    background-image: url("./workImages/Img\ Placeholder.png");
  }

  .work-container-subsequent.five {
    background-image: url("./workImages/Img\ Placeholder.png");
  }

  .work-container-subsequent.six {
    background-image: url("./workImages/Img\ Placeholder.png");
  }

  .submit-btn.after {
    display: none;
  }

  .btns.one {
    display: none;
  }

  .submit-btn.after.one {
    display: block;
    margin-top: 0;
  }

  .first-description {
    display: none;
  }

  .place1 {
    display: block;
    width: 100%;
    height: 21rem;
    object-fit: cover;
  }

  .intro-description {
    font-size: 1rem;
  }

  .about-description {
    width: 40%;
    font-size: 1rem;
    margin-top: 2rem;
  }

  .about-me {
    padding-left: 5rem;
    margin-top: 1.5rem;
    padding-bottom: 5rem;
  }

  .get-btn {
    margin-top: 2rem;
    border-radius: 0.2rem;
  }

  .additional-info {
    display: flex;
    width: 80%;
    justify-content: space-between;
  }

  .user-input.full {
    display: none;
  }

  .user-input.first-name {
    display: block;
  }

  .user-input.last {
    display: block;
  }

  .work-header {
    font-size: 2.5rem;
  }

  .submit-btn.right {
    margin-top: 1.7rem;
    border-radius: 0.2rem;
  }

  .form-section-div {
    flex-direction: row;
    padding: 0;
    padding: 5rem 10rem;
  }

  .footer-description {
    width: 42%;
    text-align: start;
    font-size: 1.8rem;
    font-family: poppins, sans-serif;
  }

  .form-section {
    margin-top: 0;
    width: 80%;
    margin-left: 3rem;
  }

  .optional-div {
    display: flex;
    width: 80%;
    justify-content: space-between;
  }

  .user-input {
    width: 49%;
    margin-top: 0;
  }

  .text-area {
    margin-top: 0;
    margin-top: 1.5rem;
    width: 80%;
  }

  .user-input.email {
    width: 80%;
    margin-top: 0.5rem;
  }

  .form-btn {
    align-self: flex-start;
    margin-top: 0;
    margin-top: 1rem;
  }

  .underline {
    display: none;
  }

  .footer-social-links {
    width: 15%;
  }

  .first {
    bottom: 33%;
    right: 28%;
  }

  .second {
    bottom: 33%;
    right: 26%;
  }

  .main {
    bottom: 32%;
    right: 25%;
  }

  .vec-4 {
    display: block;
    bottom: 33%;
    right: 16%;
    position: absolute;
  }

  .vec-6 {
    display: block;
    position: absolute;
    bottom: 36.6%;
    right: 11.5%;
  }
}

@media (min-width: 768px) and (max-width: 1100px) {
  .intro-details {
    width: 60%;
  }

  .first {
    bottom: 28%;
    right: 28%;
  }

  .second {
    bottom: 28%;
    right: 26%;
  }

  .main {
    bottom: 27.5%;
    right: 25%;
  }

  .vec-4 {
    display: block;
    bottom: 28%;
    right: 5%;
    position: absolute;
  }

  .vec-6 {
    display: block;
    position: absolute;
    bottom: 33.9%;
    right: 11.5%;
  }

  .workimg {
    width: 400px;
  }

  .work-container-subsequent {
    width: 40%;
  }

  .work-container-subsequent.three {
    margin-left: 0;
  }

  .work-container-subsequent.four {
    margin-left: 1rem;
  }

  .work-container-subsequent.five {
    margin-left: 0;
  }

  .form-section-div {
    padding-left: 1rem;
  }

  .vector-image {
    right: 25%;
    top: 5%;
  }

  .vec-3 {
    display: block;
    position: absolute;
    top: 4%;
    right: 1%;
    height: 15rem;
  }

  .second-vector {
    right: 25%;
    top: 5%;
  }
}
